html {
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}

ul li {
  display: inline-block;
  /* border: 1px solid black; */
  /* padding: 5px; */
  margin: 3px;
}

.projects section {
  background-color: #F7F7F7;
  padding: 20px;
  margin: 10px;
  border-radius: 2px;
}

img {
  height: 400px;
  width: 300px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 5px;
}

a:link {
  color: white;
  background-color: black;

}

a:visited {
  color: #444444;
  background-color: black;
}

a:focus {
  color: white;
  background-color: red;
}

a:hover {
  color: white;
  background-color: red;
}

a:active {
  background: green;
  color: white;
}
